<a href="https://colab.research.google.com/github/unlimit1/my-first-blog/blob/master/psda_ch05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance
!pip install pymysql

In [ ]:
# 야후파이낸스 패키지로 삼성전자 데이터 살펴보기 
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()
import matplotlib.pyplot as plt

df = pdr.get_data_yahoo('005930.KS', '2016-01-01')  # ① 삼성전자 
print(df)

plt.figure(figsize=(12, 10))  # 그래프 크기가 가로 12 세로 10 
plt.subplot(2, 1, 1)  # ② 2행 1열 의 첫번째 영역 
plt.title('Samsung Electronics (Yahoo Finance 005930.KS)')
plt.plot(df.index, df['Close'], 'r', label='Close')  # ③
plt.plot(df.index, df['Adj Close'], 'b--', label='Adj Close')  # ④
plt.legend(loc='best')
plt.subplot(2, 1, 2)  # ⑤
plt.bar(df.index, df['Volume'], color='g', label='Volume')  # ⑥
plt.legend(loc='best')
plt.show()

# Close 와 adj Close 가 서로 다르며 데이터가 신뢰할 수 없다 (2018.5 액면분할) 는 이야기를 하려고 했으나... 야후에서 이미 고친 듯 하다..

In [25]:
# MariaDB 연결 확인

import pymysql

connection = pymysql.connect(host='unlimit1.iptime.org', port=, db='mysql', 
    user='root', passwd='', autocommit=True)  

cursor = connection.cursor()
cursor.execute("SELECT VERSION();")
result = cursor.fetchone() # 한 row 만 returen 하는 함수 .. 

print ("MariaDB version : {}".format(result))

connection.close()

SyntaxError: ignored

In [24]:
!pwd

/content